<style>
    input {
        background-color: antiquewhite;
    }
    textarea {
        background-color: antiquewhite;
    }
</style>
<div class="content-form">
    <h3>Bir yorum yapın..</h3>  
    <form method="post">
        <input type="hidden" style="font-family:'Arial Rounded MT'; font-weight:bold; font-size:18px; color:brown;" placeholder="ID" name="Blogid" value="@ViewBag.deger" required/> @*type hidden ile id textinin sayfa üzerinde gözükmesini engelledik.*@
        <input type="text" placeholder="Kullanıcı Adı" name="KullaniciAdi" required />
        <input type="text" placeholder="Mail Adresi" name="Mail" required />
        <textarea placeholder="Yorum" name="Yorum"></textarea>
        <input type="submit" value="Gönder" />
    </form>
</div>